:root {
    --title-text: DM Serif Display;
    --second-text: Jost;
    --hero-title:#292F36;
    --hero-text:#4D5053;
    --our-achivements:#CDA274;
    --default-background: #FFFFFF;
    --reviews-background:#F4F0EC;
}

.container {
    width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    font-family: var(--second-text);
}

.hero-title,
.abilities-title,
.design-title,
.reviews-title,
.person-name,
.project-title,
.project-list-title,
.achievement-title,
.blogs-title,
.blogs-item-title,
.join-title,
.footer-title {
    color: var(--hero-title);
    font-family: var(--title-text);
}

body {
    font-family: var(--second-text);
}

.hero-text {
    color: var(--hero-text);
    line-height: 1.5;
    font-size: 22px;
    margin-top: 19px;
}

.hero-btn-text {
    margin: 22px 31px 22px 34px;
}

.hero-btn::after,
.design-btn::after {
    content: url(../img/arrowbtn.png);
    margin-right: 25px;
}

.abilities-second-text::after {
    content: url(../img/arrow.png);
    margin-left: 6px;
}

.hero-btn {
    display: flex;
    align-items: center;
    line-height: 1.5;
    color: var(--default-background);
    margin-top: 35px;
    margin-bottom: 260px;
    background: var(--hero-title);
    border: 0;
    border-radius: 18px;
    font-size: 18px;
}


.hero {
    display: flex;
    background-image: url(../img/herobg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-text {
    line-height: 1.5;
    color: var(--hero-text);
}

.header-item:first-child > a {
    color: var(--our-achivements);
}

.header {
    display: flex;
}

.header-logo {
    margin-top: 26px;
}

.header-list {
    padding: 38px 0px 38px 505px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.design-phone {
    padding: 30px;
    background-color: var(--reviews-background);
    border: 0;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}

.project-btn {
    background-color: var(--reviews-background);
    border: 0;
    border-radius: 100px;
    padding: 27px 30px 27px 31px;

}

.abilities {
    margin-bottom: 100px;
    margin-top: 100px;
}

.abilities-title {
    font-size: 25px;
    margin-top: 75px;
    font-weight: 400;
}

.abilities-list {
    display: flex;
}

.abilities-item {
    display: flex;
    width: 400px;
    height: 395px;
    flex-direction: column;
    align-items: center;

}

.abilities-text,
.abilities-second-text {
    color: var(--hero-text);
    line-height: 1.5;
}

.abilities-text {
    font-size: 22px;
    width: 317px;
    text-align: center;
    margin-top: 17px;
}

.abilities-second-text {
    font-size: 18px;
}

.view-more {
    margin-top: 68px;
    margin-bottom: 70px;
}

.hero-title {
    line-height: 1.2;
    margin-top: 188px;
    font-size: 80px;
    width: 595px;
    font-weight: 400;
}

.hero-text {
    width: 577px;
}

.abilities-title{
    line-height: 1.56;
}

.design-title {
    line-height: 1.3;
}

.design-text {
    line-height: 1.5;
    color: var(--hero-text);
}

.phone-number {
    line-height: 1.5;
}

.design-btn {
    line-height: 1.5;
    color: var(--default-background);
    background: var(--hero-title);
    border: 0;
    border-radius: 18px;
}

.reviews-section {
    background-color: var(--reviews-background);
    border-radius: 70px;
}

.reviews-item {
    background-color: var(--default-background);
}

.achievement {
    background-color: var(--reviews-background);
}

.achievement-title {
    color: var(--our-achivements);
}

.join-btn {
    background: var(--our-achivements);
}

.reviews-title {
    line-height: 1.31;
}

.person-name {
    line-height: 1.52;
}

.person-from, .reviews-text {
    line-height: 1.5;
}

.project-title {
    line-height: 1.31;
}

.project-text {
    line-height: 1.5;
}

.project-list-title {
    line-height: 1.58;
}

.project-list-text {
    line-height: 1.5;
}

.achievement-title {
    line-height: 1.5;
}

.achievement-text {
    line-height: 1.5;
}

.blogs-title {
    line-height: 1.29;
}

.blogs-text {
    line-height: 1.5;
}

.blogs-item-title {
    line-height: 1.4;
}

.blogs-item-text {
    line-height: 1.5;
}

.blogs-item-btn {
    background: var(--reviews-background);
    border: none;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    padding: 18px 22px 18px 21px;
}

.join {
    background: var(--hero-title);
    border-radius: 70px;
}

.join-title {
    line-height: 1.5;
    color: var(--default-background);
}

.join-text {
    line-height: 1.5;
    color: var(--default-background);
}

.join-btn {
    line-height: 1.5;
    color: var(--default-background);
}

.logo-text {
    line-height: 1.5;
}

.join-btn-text::after {
    content: url(../img/joinarrow.png);
}

.footer-title {
    line-height: 1.52;
}

.footer-list-text {
    line-height: 1.5;
}

.down-text, .down-link {
    line-height: 1.5;
}

.down-link {
    color: var(--our-achivements);
}