:root {
    --title-text: DM Serif Display;
    --second-text: Jost;
    --hero-title:#292F36;
    --hero-text:#4D5053;
    --our-achivements:#CDA274;
    --default-background: #FFFFFF;
    --reviews-background:#F4F0EC;
}

.container {
    width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    font-family: var(--second-text);
}

.hero-title,
.abilities-title,
.design-title,
.reviews-title,
.person-name,
.project-title,
.project-list-title,
.achievement-title,
.blogs-title,
.blogs-item-title,
.join-title,
.footer-title {
    color: var(--hero-title);
    font-family: var(--title-text);
}

body {
    font-family: var(--second-text);
}

.hero-text {
    color: var(--hero-text);
    line-height: 1.5;
    font-size: 22px;
    margin-top: 19px;
}

.hero-btn-text {
    margin: 22px 31px 22px 34px;
}

.hero-btn::after,
.design-btn::after {
    content: url(../img/arrowbtn.png);
    margin-right: 25px;
}

.abilities-second-text::after {
    content: url(../img/arrow.png);
    margin-left: 6px;
}

.hero-btn {
    display: flex;
    align-items: center;
    line-height: 1.5;
    color: var(--default-background);
    margin-top: 35px;
    margin-bottom: 260px;
    background: var(--hero-title);
    border: 0;
    border-radius: 18px;
    font-size: 18px;
}

.hero-btn:hover {
    cursor: pointer;
}


.hero {
    display: flex;
    background-image: url(../img/herobg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-text {
    line-height: 1.5;
    color: var(--hero-text);
}

.header-item:first-child > a {
    color: var(--our-achivements);
}

.header {
    display: flex;
}

.header-logo {
    margin-top: 26px;
}

.header-list {
    padding: 38px 0px 38px 505px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.design-phone {
    padding: 30px;
    background-color: var(--reviews-background);
    border: 0;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}

.abilities {
    margin-bottom: 100px;
    margin-top: 100px;
}

.abilities-title {
    font-size: 25px;
    margin-top: 75px;
    font-weight: 400;
}

.abilities-list {
    display: flex;
}

.abilities-item {
    display: flex;
    width: 400px;
    height: 395px;
    flex-direction: column;
    align-items: center;

}

.abilities-text,
.abilities-second-text {
    color: var(--hero-text);
    line-height: 1.5;
}

.abilities-text {
    font-size: 22px;
    width: 317px;
    text-align: center;
    margin-top: 17px;
}

.abilities-second-text {
    font-size: 18px;
}

.view-more {
    margin-top: 68px;
    margin-bottom: 70px;
}

.hero-title {
    line-height: 1.2;
    margin-top: 188px;
    font-size: 80px;
    width: 595px;
    font-weight: 400;
}

.hero-text {
    width: 577px;
}

.abilities-title{
    line-height: 1.56;
}

.design-title {
    line-height: 1.3;
    font-weight: 400;
    font-size: 50px;
    width: 450px;
    margin-top: 40px;
}

.design-text {
    line-height: 1.5;
    color: var(--hero-text);
    font-weight: 400;
    width: 531px;
    font-size: 22px;
    margin-top: 42px;
}

.design-second-text {
    line-height: 1.5;
    color: var(--hero-text);
    font-weight: 400;
    width: 492px;
    font-size: 22px;
}

.design-phone {
    margin-top: 40px;
}

.design-phone:hover, .design-btn:hover {
    cursor: pointer;
}

.design-list {
    display: flex;
    gap: 16px;
}

.phone-list {
    display: flex;
}

.phone-number {
    line-height: 1.5;
    margin-top: 42px;
    margin-left: 20px;
}

.number {
    font-size: 24px;
    font-weight: 400;
}

.call-us {
    font-size: 22px;
    font-weight: 400;
}

.design-btn {
    display: flex;
    align-items: center;
    line-height: 1.5;
    color: var(--default-background);
    background: var(--hero-title);
    border: 0;
    border-radius: 18px;
    margin-top: 50px;
    font-size: 18px;
    /* padding: 18px 0 17px 31px; */
}

.design-btn-text {
    margin: 18px 31px 17px 31px;
}

.reviews {
    margin-top: 139px;
}

.reviews-section {
    background-color: var(--reviews-background);
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 103px;
    padding-bottom: 121px;
    align-items: center;
}

.reviews-title {
    font-size: 45px;
    font-weight: 400;
    width: 479px;
    text-align: center;
    margin-bottom: 47px;
}

.reviews-list {
    display: flex;
    gap: 18px;
}

.reviews-item {
    background-color: var(--default-background);
    width: 354px;
    height: 287px;
    border-radius: 30px;
}

.person-section {
    display: flex;
    gap: 20px;
    margin-left: 30px;
    margin-top: 50px;
}

.person-info {
    margin-bottom: 5px;
}

.person-name {
    font-size: 24px;
    font-weight: 400;
}

.person-from {
    font-size: 18px;
    font-weight: 400;
}

.reviews-text {
    font-size: 20px;
    font-weight: 400;
    width: 256px;
    margin-left: 35px;
    margin-top: 25px;
    margin-right: 63px;
}

.brends {
    margin-top: 141px;
    margin-bottom: 113px;
}
.brends-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.achievement {
    background-color: var(--reviews-background);
}

.achievement-title {
    color: var(--our-achivements);
}

.join-btn {
    background: var(--our-achivements);
}

.reviews-title {
    line-height: 1.31;
}

.person-name {
    line-height: 1.52;
}

.person-from, .reviews-text {
    line-height: 1.5;
}

.project-title {
    line-height: 1.31;
    font-size: 47px;
    font-weight: 400;
    text-align: center;
}

.project-text {
    line-height: 1.5;
    width: 786px;
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
    margin-left: 207px;
}

.project-list {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 60px;
}

.project-item{
    width: 590px;
}

.project-text-list {
    display: flex;
    justify-content: space-between;
}

.project-list-title {
    line-height: 1.58;
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
}

.project-list-text {
    line-height: 1.5;
    font-size: 22px;
    margin-top: -1px;
}

.project-btn {
    background-color: var(--reviews-background);
    border: 0;
    border-radius: 100px;
    padding: 27px 30px 27px 31px;
    margin-top: 25px;
}

.project-btn:hover {
    cursor: pointer;
}

.achievement {
    margin-top: 140px;
}

.achievement-list {
    display: flex;
    gap: 16px;
}

.achievement-item {
    width: 288px;
}

.achievement-title {
    line-height: 1.5;
    font-size: 85px;
    font-weight: 400;
}

.achievement-text {
    line-height: 1.5;
    font-size: 22px;
}

.recent-blogs {
    margin-top: 150px;
}

.blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs-title {
    line-height: 1.29;
    font-size: 48px;
    font-weight: 400;
}

.blogs-text {
    line-height: 1.5;
    font-size: 22px;
    width: 589px;
    text-align: center;
    margin-top: 21px;
}
.blogs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 40px;
    margin-top: 70px;
}

.blogs-item {
    border-radius: 62px;
    border: 1px solid #E7E7E7;
    padding: 21px 21px 41px 21px;
}

.blogs-item-title {
    line-height: 1.4;
    font-size: 25px;
    font-weight: 400;
    width: 334px;
    margin-top: 15px;
}

.blogs-item-text {
    line-height: 1.5;
    margin-top: 34px;
}

.blogs-item-list {
    display: flex;
    justify-content: space-between;
}

.blogs-item-btn {
    background: var(--reviews-background);
    border: none;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    padding: 18px 22px 18px 21px;
}

.blogs-item-btn:hover {
    cursor: pointer;
}

.join {
    background: var(--hero-title);
    border-radius: 70px;
    margin-top: 133px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-title {
    line-height: 1.5;
    color: var(--default-background);
    margin-top: 100px;
    font-size: 50px;
    font-weight: 400;
}

.join-text {
    line-height: 1.5;
    color: var(--default-background);
    margin-top: 9px;
    font-size: 22px;
}

.join-btn {
    line-height: 1.5;
    color: var(--default-background);
    margin-top: 31px;
    font-size: 18px;
    margin-bottom: 118px;
    border-radius: 18px;
    border: none;
    display: flex;
    align-items: center;
}

.logo-text {
    line-height: 1.5;
}

.join-btn-text {
    margin: 21px 41px 23px 34px;
}

.join-btn::after {
    content: url(../img/joinarrow.png);
    margin-right: 13px;
}

.join-btn:hover {
    cursor: pointer;
}

.up-footer {
    margin-top: 129px;
}
.logo-text {
    width: 326px;
    margin-top: 15px;
    font-size: 22px;
}

.logo-list-brends {
    display: flex;
    gap: 40px;
    margin-top: 29px;
}

.footer-top {
    display: flex;
}

.footer-list {
    display: flex;
    margin-left: 83px;
}

.footer-list-item {
    display: flex;
    flex-direction: column;
    gap: 21.8px;
}

.footer-list-item-second {
    margin-left: 113px;
}

.footer-list-item-third {
    margin-left: 103px;
}

.footer-list-item-third-text {
    width: 321px;
}

.footer-title {
    line-height: 1.52;
}

.footer-title-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-list-text {
    line-height: 1.5;
    font-size: 22px;
    
}

.down-footer {
    margin-top: 111px;
}

.down-list {
    display: flex;
    justify-content: center;
}

.down-text, .down-link {
    line-height: 1.5;
    font-size: 22px;
}

.down-link {
    color: var(--our-achivements);
}